@font-face {
  font-family: "ProductSans";
  src: url(Users/voidb/Downloads/product-sans/productsansbold.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "MontserratBold";
  src: url(Users/voidb/Downloads/Montserrat/mont.ttf) format("truetype");
  font-weight: bold;
}

body {
  height: 100vh;
  display: flex;
  align-items: absolute;
  justify-content: top;
  flex-direction: column;
  background: linear-gradient(
    to left,
    #002c50,
    #000931
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  font-size: 39px;
  font-family: "Montserrat";
  font-weight: bold;
  color:white
}

h2 {
  font-family: "Nexa";
  font-size: 35px;
  font-weight: medium;
  color:rgb(255, 255, 255)
}
h3 {
  font-family:"Product Sans";
  font-size: 28px;
  color:rgb(216, 216, 216)
}

h4 {
  font-family: "Nexa";
  font-size: 24px;
  font-weight: bold;
  color:rgb(166, 111, 255);
  margin: 0;
}
h1
p {
  font-family: "ProductSans";
  font-size: 1.2em;
  max-width: 50%;
  text-align: center;
  color: #fff;
}

img {
top: 40px;
left: 95px;
right: 5px;
}

image {
align-items: center;
justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
